title= title
meta(name="description" content="")
meta(name="keywords" content="")
meta(charset="utf-8")
meta(name="og:title" property="og:title" content="Weemaple - Users")
meta(name="og:url" property="og:url" content="https://www.weemapleusers.com")
meta(name="og:type" property="og:type" content="website")
meta(name="og:description" property="og:description" content=shortDescription)
meta(name="robots" content="index, follow")
meta(name="google-site-verification" content="qXRkw1Xfuw4MwE7c2Q3pHS1SCQreisjmSZX0F6Uuw_s")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel='stylesheet', href='/stylesheets/style.css')