extends layout

block content
  include ./partials/staticnav.jade
  div(id="mainHeroC")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          div(id="container")
            h1 Sorry There Was An Error....
            p=error